.Button {
    display: block;
    margin: 15px;
    min-width: 200px;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 50px;
    font-size: 2em; 
    cursor: pointer;
  }

  .Button.dark{
    background-color: black;
    color: white;
  }